$color-main: #f56f30;
$color-additional: #FF7549;
$color-background: #FFEEE1;
$color-link: #1943EF;
$color-text: #544837;
$color-heading: #2F281E;
$color-border: #f56f30;
$color-light: #FFFFFF;
$color-orange: #f56f30;
$color-grey: #272420;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

